langchain-openai
langchain
python-dotenv
langchain_community
langchain_core
streamlit
ipykernel
langchain-groq
pypdf
bs4
arxiv
pymupdf
wikipedia
langchain-text-splitters
langchain-openai
chromadb
sentence_transformers
langchain_huggingface
faiss-cpu
langchain_chroma
duckdb
pandas
openai
langchainhub
duckduckgo-search
mysql-connector-python
SQLAlchemy
validators==0.28.1
youtube_transcript_api
unstructured
pytube
nltk
numexpr
huggingface_hub
